<link rel="stylesheet" href="/styles_css/css_alvaro/css_alvaro.css" type="text/css" />
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/#!/">Spanish Universities</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/#!/">Data list<span class="sr-only">(current)</span></a>
            </li>
           
        </ul>
        <form class="form-inline my-2 my-lg-0">

        </form>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>Año</th>
            <th>Trimestre</th>
            <th>Asignatura</th>
            <th>Nota</th>
            <th>Lucifer</th>

        </tr>
    </thead>
    <tbody>
        <tr>
           <td>{{updatedUniv.anyo}}</td>
            <td><input class="form-control" placeholder="ej: 1" ng-model="updatedUniv.trimestre" /></td>
            <td>{{updatedUniv.asignatura}}</td>
            <td><input class="form-control" placeholder="ej: nota" ng-model="updatedUniv.nota" /></td>
            <td><input class="form-control" placeholder="ej: si/no" ng-model="updatedUniv.lucifer" /></td>




            <td><button class="btn btn-info btn-sm" ng-click="updateUniv()"> Update</button></td>
            <td><button href="/" class="btn btn-outline-secondary btn-sm" onclick="history.back(-1)"> Go Back</button></td>
        </tr>
    </tbody>
</table>
<hr/>
<b><i>{{status}}</i></b>

<div class="modal fade" id="changed" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/spanishUniversities/images_alvaro/check.png" width="50" height="50"></img>


                    University has been changed correctly!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="missField" tabindex="-1" role="dialog" aria-labelledby="v1label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-body"><img src="/spanishUniversities/images_alvaro/fail.png" width="50" height="50"></img>


                    All fields must be filled !
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>
</div>
